<div class="{{classPrefix}}">

  <div class="header">
    {{!-- {{> action}} --}}
  </div>

  <div class="content">
    {{!-- {{> table}} --}}
  </div>

  <div class="footer">
    {{!-- {{> action}} --}}
  </div>

</div>
