<div class="{{classPrefix}} {{classPrefix}}-{{theme}}">
  <div class="header" data-role="header"></div>
  <div class="content" data-role="content"></div>
  <div class="footer" data-role="footer"></div>
</div>
