<div class="{{classPrefix}} {{classPrefix}}-{{theme}}">
  <div class="header" data-role="header" data-partial="header"></div>
  <div class="content" data-role="content" data-partial="content"></div>
  <div class="footer" data-role="footer" data-partial="footer"></div>
</div>
