<div class="{{classPrefix}}">
  <div class="html" data-role="html">
    <ul>
    {{#each items}}
      <li>
        <div class="label">{{label}}</div>
        <div class="value">{{value}}</div>
      </li>
    {{/each}}
    </ul>
  </div>
  {{#if hasBack}}<button class="back" data-role="back">返回</button>{{/if}}
</div>
